FROM debian:bookworm-slim

WORKDIR /app

COPY ${ENCODERFILE_NAME}.encoderfile ./${ENCODERFILE_NAME}.encoderfile

RUN chmod +x /app/${ENCODERFILE_NAME}.encoderfile

EXPOSE 8080

CMD ["/app/${ENCODERFILE_NAME}.encoderfile", "serve"]